:root {
  --primaryColor: #5a006e;
  --secondaryColor: rgb(0, 138, 202);
  --textColor: #1f1f1f;
  --greenColor: #117D3D;
  --lightColor: #ffffff;
  --grayColor: #dadada;
}
@font-face {
  font-family: "AvenirLTStdRoman";
  src: url("../fonts/FontsFree-Net-AvenirLTStd-Roman-1.ttf")
      format("truetype");
}

body {
  font-family: "Roboto", monospace;
}

.navBar {
  background-color: var(--white);
  position: relative;
  border-bottom: 1px solid var(--grayColor);
  transition: 0.5s ease-in-out;
  padding: 0;
}
.navBar:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s ease-in-out;
}
.navBar svg {
  position: absolute;
  top: 97%;
  left: 0;
}
.navBar ul li a {
  position: relative;
  color: var(--textColor) !important;
  transition: 0.4s;
}
.navBar ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--primaryColor);
  border-radius: 5px;
  left: 0;
  bottom: -6px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}
/* .navBar a:hover {
  color: #03bf62 !important;
} */
.navBar ul li a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
.navbar-brand img {
  height: 80px;
}
.navbarToggler {
  background-color: transparent;
  border: none;
  display: none;
}
.navbarToggler:focus {
  outline: none;
}
.navbarToggler:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.navbarCollapse {
  position: relative;
}
.navCross {
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
  background-color: transparent;
  border: none;
  font-size: 24px;
}
.navCross:focus {
  outline: none;
}
.navCross:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.navbarContainer {
  flex-wrap: wrap !important;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  transition: 0.3s;
  z-index: 5; /* Ensure overlay is below the navbarCollapse */
}
.navbar-nav {
  flex-wrap: wrap;
}
/* for dropdown menu */
.dropdownMenu {
  position: relative;
}

.dropdownMenu ul {
  width: fit-content;
  list-style: none;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--primaryColor);
  color: #fff;
  width: 140px;
  display: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}
.dropdownMenu ul li {
  text-align: center;
}
.dropdownMenu:hover ul,
.dropdownMenu:focus-within ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
.dropdownMenu a i {
  transition: transform 0.3s;
}
.dropdownMenu:hover a i {
  transform: rotate(90deg);
}

.dropdownMenu ul li a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.dropdownMenu ul li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.menuItemWrapper
{
  display: flex;
}
.menuItemWrapper .registerBtn
{
  border: none;
  background-color: var(--greenColor);
  color: white;
  margin-left: 20px;
  border-radius: 4px;
  padding: 5px 10px;
}
/* navbar end */

/* header start from here */
.header
{
  display: flex;
  height: 90vh;
  width: 100%;
  background-image: url("../images/Green_University_of_Bangladesh_campus_01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.header .leftBox
{
  width: 45%;
}
.header .rightBox
{
  width: 55%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-left: 62px;
}
.header .rightBox::before
{
  position: absolute;
    content: "";
    height: 120%;
    width: 120%;
    top: -3rem;
    /* background: linear-gradient(to bottom, #4E00CF, #111111); */
    z-index: 1;
    transition: .5s ease-in-out;
    transform: rotate(2.5deg);
    background-color: #092430;

}
.header .rightBox:hover::before
{
  transform: rotate(5deg);
}
/* .box1, .box2, .box3
{
  display: none;
} */
.header .rightBox .headerRIghtbox1::after
{
  position: absolute;
  content: "";
  height: 120%;
  width: 20%;
  top: -3rem;
  background-color: #ef9b06;
  opacity: .85;
  z-index: 0;
  transform: rotate(-5deg);
  transition: .5s ease-in-out;
}
.header .rightBox .headerRIghtbox2::after
{
  position: absolute;
  content: "";
  height: 120%;
  width: 20%;
  top: -3rem;
  background-color: #00aaad;
  opacity: .55;
  z-index: 0;
  transform: rotate(-2.5deg);
  transition: .5s ease-in-out;
}
.header .rightBox .headerRIghtbox3::after
{
  position: absolute;
  content: "";
  height: 120%;
  width: 20%;
  top: -3rem;
  background-color: #e81e26;
  opacity: .45;
  z-index: 0;
  transform: rotate(5deg);
  transition: .5s ease-in-out;
}
.header .rightBox:hover .headerRIghtbox1::after
{
  transform: rotate(-10deg);
}
.header .rightBox:hover .headerRIghtbox2::after
{
  transform: rotate(-5deg);
}
.header .rightBox:hover .headerRIghtbox3::after
{
  transform: rotate(10deg);
}


.header .headerContent
{
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
}
.headerContentMid
{
  display: flex;
  justify-content: end;
}
.counterContentWrapper
{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--lightColor);
  margin-top: 100px;
}
.counterContentWrapper p
{
  font-size: 20px;
}
/* .counterContentWrapper img
{
  max-width: 200px;
} */
.counterBoxWrapper
{
  display: flex;
  margin: 30px 0;
  
}
.counterBox
{
  margin: 0 10px;
  text-align: center;
}
.counterBox span
{
  display: block;
  padding: 20px;
  font-size: 30px;
  
}
.counterBox:nth-child(1) span
{
  background-image: linear-gradient(45deg, #ff006a, #FF12E1);
}
.counterBox:nth-child(2) span
{
  background-image: linear-gradient(45deg, #3d3dc2, #a321b9);
}
.counterBox:nth-child(3) span
{
  background-image: linear-gradient(45deg, #FF5722, #FF9800);
}
.counterBox:nth-child(4) span
{
  background-image: linear-gradient(45deg, #009688, #4CAF50);
}


/* about carnival */
.about
{
  /* background-image: url(../images/backgrounddesign.svg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 20px 0;
}
.aboutBoxMid
{
  display: flex;
  align-items: center;
  margin: 50px auto;
}
.about .aboutImg
{
  margin-left: 30px;
}
.about .aboutImg img
{
  max-width: 250px;
}
.sectionTitle
{
  color: #FF006A;
  font-weight: 600;
}
.commonButton
{
  background-color: var(--greenColor);
  border: none;
  color: var(--lightColor);
  padding: 5px 12px;
  font-size: 18px;
  border-radius: 4px;
  outline: none;
}
.readMoreBtnBox
{
  text-align: center;
}

/* programe schedule start here */
.programSchedule .tabBtnList
{
  justify-content: space-between;
}
.programSchedule .tabContentList
{
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}
.programSchedule .tabContentList li
{
  border-radius: 4px;
  margin: 25px 0;
  display: flex;
  align-items: center;
  transition: .3s;
}
.programSchedule .tabContentList li:hover
{
  transform: scale(1.01);
}
.programSchedule .tabContentList li .eventTitle
{
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.programSchedule .tabContentList li .eventTitle span
{
  background-color: #ff006a;
  color: var(--lightColor);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.programSchedule .tabContentList1 li
{
  border: 1px solid #FF5722;
}
.programSchedule .tabContentList1 li .eventTitle span
{
  background-color: #FF5722;
}
.programSchedule .tabContentList2 li
{
  border: 1px solid #3d3dc2;
}
.programSchedule .tabContentList2 li .eventTitle span
{
  background-color: #3d3dc2;
}
.programSchedule .tabContentList3 li
{
  border: 1px solid #009688;
}
.programSchedule .tabContentList3 li .eventTitle span
{
  background-color: #009688;
}
.programSchedule .tabContentList li .time
{
  display: inline-block;
  padding: 25px 20px;
  color: var(--lightColor);
}
.programSchedule .tabContentList1 li .time
{
  background-image: linear-gradient(45deg, #FF5722, #FF9800);
}
.programSchedule .tabContentList2 li .time
{
  background-image: linear-gradient(45deg, #3d3dc2, #a321b9);
}
.programSchedule .tabContentList3 li .time
{
  background-image: linear-gradient(45deg, #009688, #4CAF50);
}
.tabBtn
{
  text-align: center;
  color: var(--lightColor);
  position: relative;
  /* margin-right: 20px; */
  padding: 10px 70px;
}
.tabBtn1
{
  background-image: linear-gradient(45deg, #FF5722, #FF9800);
}
.tabBtn2
{
  background-image: linear-gradient(45deg, #3d3dc2, #a321b9);
}
.tabBtn3
{
  background-image: linear-gradient(45deg, #009688, #4CAF50);
}
.nav-tabs .nav-link.active::before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  bottom: -.5rem;
  left: 1rem;
  transform: rotate(45deg);
}
.tabBtn1.active::before {
  background-color: #FF5722;
}

.tabBtn2.active::before {
  background-color: #3d3dc2;
  
}
.tabBtn:hover
{
  color: var(--lightColor);
}
.tabBtn.active
{
  color: var(--lightColor) !important;
}
.tabBtn3.active::before {
  background-color: #009688;
}

/* organized by section */
.organizedBy .organizedByBox
{
  padding: 50px 0;
}
.organizedBy .organizedByBox ul
{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 0 !important;
  margin: 0 !important;
}
.organizedBy .organizedByBox ul li img
{
  width: 150px;
}


/* notice section */
.notice {
  overflow: hidden;
  
  position: relative;
  animation: fadeIn 2s ease-in-out;
  z-index: 1;
}

.noticeList {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.noticeItem {
  background: #fff;
  padding: 20px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  border-radius: 8px;
}

.noticeItem::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  
  background: var(--primaryColor);
  transition: height 0.3s ease;
}

.noticeItem:hover::before {
  height: 100%;
  z-index: -1;
}

.noticeItem:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.noticeItem:hover h5
{
  color: var(--lightColor);
}
.noticeItem:hover i {
  color: #fff;
  transition: transform 0.3s ease;
}
.noticeItem:hover p
{
  color: var(--lightColor);
}
.noticeItem h5 {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  color: #777;
  transition: color 0.3s ease;
}

.noticeItem i {
  margin-right: 15px;
  font-size: 1.5em;
  color: var(--primaryColor);
  transition: transform 0.3s ease;
}
.noticeItem p
{
  margin-top: 5px;
  margin-bottom: 0px !important;
  color: #777;
  text-align: right;
}

@media (max-width: 768px) {
  .noticeItem h5 {
    font-size: 1em;
  }

  .noticeItem i {
    font-size: 1.2em;
  }
}


/* sponsored by section */

.caroMid
{
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.swiper-slide img {
  width: 150px;
  height: 100px;
  object-fit: contain;
}

/* events section */
.events .eventsBox
{
  position: relative;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  margin-top: 30px;
}
.events .eventsBox img
{
  max-width: 100%;
  height: auto;
}
.eventsBox .eventsDetails
{
  background: rgba(6, 12, 34, 0.76);
  position: absolute;
  left: 0;
  bottom: -60px;
  right: 0;
  text-align: center;
  padding-top: 10px;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  color: var(--lightColor);
  padding: 0 5px;
}
.eventsBox .eventsDetails h4
{
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.events .eventsBox:hover .eventsDetails
{
  bottom: 0;
}

/* common title css  */

.outer{
  width:fit-content;
  padding: 10px 50px;
  height: 50px;
  background-color: #5a006e;
  text-align:center;
  margin:50px auto;
  position:relative;
  box-sizing:border-box;
  font-family: arial;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#fff;
}
.outer:before{
  position:absolute;
  content:'';
  left:-25px;
  top:25px;
  border-top:25px solid transparent;
  border-right:25px solid #333;
  border-bottom:25px solid transparent;
  border-left:25px solid transparent;
  z-index:-1;
}
.outer:after{
  position:absolute;
  content:'';
  right:-25px;
  top:25px;
  border-top:25px solid transparent;
  border-right:25px solid transparent;
  border-bottom:25px solid transparent;
  border-left:25px solid #333;
  z-index:-1;
}
.left{
  position:absolute;
  border-top:25px solid #8b5597;
  border-right:50px solid #8b5597;
  border-bottom:25px solid #8b5597;
  border-left:25px solid transparent;
  top:25px;
  left:-50px;
  z-index:-2;
}
.right{
  position:absolute;
  border-top:25px solid #8b5597;
  border-right:25px solid transparent;
  border-bottom:25px solid #8b5597;
  border-left:50px solid #8b5597;
  top:25px;
  right:-50px;
  z-index:-2;
}

.outer span{
  display:block;
  line-height:50px;
  height:50px;
  font-weight:bold;
  font-size:28px;
  font-family:arial;
  color:var(--lightColor);
  text-transform:uppercase;
}


/* committe section */


.committeCarousel {
  width: 100%;
  margin: auto;
  padding: 40px 20px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.committeCard {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.committeCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.committeCard::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--primaryColor);
  transition: height 0.3s ease;
}

.committeCard:hover::before {
  height: 100%;
}
.committeCard:hover .committeCardContent h4,
.committeCard:hover .committeCardContent p,
.committeCard:hover .social-links a{
  color: var(--lightColor);
}
.committeCardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 1;
  position: relative;
}

.committeCardContent img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.committeCardContent h4 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.committeCardContent p {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.committeCardContent .social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.committeCardContent .social-links a {
  font-size: 18px;
  color: #333;
  transition: color 0.3s ease;
}

.committeCardContent .social-links a:hover {
  color: var(--grayColor);
}







/* responsive for all */
@media screen and (max-width: 992px) {
  .navbarToggler {
      display: block;
      color: #fff;
      font-size: 24px;
  }
  .navbarCollapse {
      padding: 50px;
      position: fixed;
      top: 0;
      right: -100%;
      bottom: 0;
      width: 40%;
      background-color: #f5f5f5;
      z-index: 10;
      transition: right 0.3s ease;
  }
  .navbarCollapse.open {
      right: 0;
  }
  .navCross {
      display: block;
  }
  .overlay.show {
      display: block;
  }
  .navBar ul li {
      padding: 5px 0;
  }
  .navBar ul li a {
      color: var(--primaryColor) !important;
  }
  
  /* drop down menu */
  .dropdownMenu ul {
      position: relative;
      top: auto;
      left: auto;
      width: 100%;
      display: block;
      opacity: 1; /* Ensure visibility */
      visibility: visible;
      background-color: transparent;
      padding-left: 10px;
  }
  .dropdownMenu ul li {
      text-align: left;
  }
  .dropdownMenu a i {
      transform: rotate(90deg);
  }
 
}

@media screen and (max-width: 769px) {
  
  .navbarCollapse {
      width: 60%;
  }
  
}

@media screen and (max-width: 500px) {
  .navbarCollapse {
      width: 70%;
  }
  
 
}
@media screen and (max-width: 400px) {
  .headerMainImgBox img {
      height: 300px;
  }
}
@media screen and (max-width: 380px) {
  .navbarCollapse {
      padding: 50px 30px;
  }
}
